main{
    display: block;
}

section h2{
    text-align: center;
}

#tabela{
    width: 100%;
    font-size: 1em;
}

#tabela, #tabela th, #tabela td{
    border: 0.1em solid #00b7ff;
    border-collapse: collapse;
}

#tabela thead, #tabela tfoot{
    background-color: #00b7ff;
    color: #fafafa;
}

#tabela td{
    text-align: center;
}

#tabela td:nth-child(1){
    text-align: left;
}

#tabela tbody tr:nth-child(even){
    background-color: rgb(145, 164, 248);
}