#main{
    width: 90%;
    margin: 0 auto;/* top/bottom - 0; left/right - auto*/
}
h1{
    text-align: center;
}
#dados-contato, #foto{
    float: left;
}
#dados-contato{
    width: 70%;
}
#foto{
    width: 30%;
    text-align: right;
}
#foto img{
    width: 17vw;
    height: 34vh;
}
#formacao{
    clear: left;
}
#lista{
    color: #000000	;
}
.subtitulo-formacao{
    background-color: rgb(107, 245, 156);
    padding: 1%;
}
ul{
    margin-bottom: 7%;
}
